# this file contains test-hosts and eventually credentials
src/test/resources/com/urswolfer/gerrit/client/rest/testhosts.json

# Maven
target/

# IntelliJ
.idea/
*.iml
*.iws

# Eclipse
.classpath
.project
.settings/

# OS X
.DS_Store
